<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication2.Properties.Settings.Gestion_StockConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Gestion_Stock.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.Gestion_StockConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Oualid\Desktop\paraget\Gestion_Stock.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.para___proConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\para___pro.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>